{% extends "layout.html" %}
{% block title %}Backend App{% endblock %}
{% block page %}Backend App{% endblock %}
{% block menu %}
<ul id="nav-mobile" class="right">
    <li class="active"><a href="/">Home</a></li>
    <li><a href="/app">App</a></li>
</ul>
{% endblock %}


{{ super() }}

{% block content %}


    <div class="container">
        <h1>This view Server Side Rendered</h1>
        <h2>It must be dynamically served</h2>
        <table>
            <thead>
              <tr>
                  <th>ID</th>
                  <th>Username</th>
              </tr>
            </thead>
            
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.username}}</td>
                </tr>
            {% endfor %}
            </tbody>
          </table>
    </div>


            

{% endblock %}